version: "3.9"

services:
  traefik:
    labels:
      - "traefik.http.routers.traefik-local.rule=Host(`{{ domain_local_dashboard }}`)"
      - "traefik.http.routers.traefik-local.entrypoints=web"
      - "traefik.http.routers.traefik-local.service=api@internal"
      - "traefik.http.routers.traefik-local.middlewares=local-compress"

