#!/usr/bin/env bash
set -euo pipefail
export COMPOSE_PROJECT_NAME="${COMPOSE_PROJECT_NAME:-{{ stack_name }}}"
sudo docker compose -f docker-compose.common.yaml -f docker-compose.${1:-devel}.yaml down
